::-webkit-scrollbar {
	display: none;
}
.trends {
	padding-top: 5px;
	width: 100%;
	height: 350px;
	overflow-y: scroll;
	border: 0.2px;
}
.collection a.collection-item {
  color: #212121;
}
.panel {
	background-color: #fff;
	position: fixed;
	bottom: 0px;
}
.panel a:hover, .panel a:focus {
	color: #827717;
}
.card {
	width: 100%;
	height: 100%;
}
.dp {
	height: 100%;
	width: 100%;
	padding-top: 10px;
}
.vid {
	width: 100%;
	height: 100%;
}
.btn-floating.halfway-fab {
	bottom: 5px;
}
.container {
	padding-top: 20px;
}
#top {
	display: none;
	z-index: 99;
	left: 3%;
}
.fa-chevron-up:hover {
	background-color: #00b0ff;
}
