
<section id="home">
	<div class="row">
		<div class="col s12 m9">
			<div class="container" id="feed">
				<div class="row">
					<div class="col s2">
						<img src="imgs/me.jpg" alt="" class="dp">
					</div>
					<div class="col s10">
						<div class="card">
							<div class="card-image">
								<img src="imgs/1.jpg">
								<a class="btn-floating halfway-fab waves-effect waves-red white">
									<i class="fa fa-heart red-text"></i>
								</a>
								<a class="btn-floating left halfway-fab waves-effect waves-yellow white">
									<i class="fa fa-bookmark lime-text text-accent-2"></i>
								</a>
							</div>
							<div class="card-content">
								<p>test post. hope it looks good :D</p>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s2">
						<img src="imgs/me.jpg" alt="" class="dp">
					</div>
					<div class="col s10">
						<div class="card">
							<div class="video-container">
        						<iframe width="100%" height="100%" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
      							<a class="btn-floating halfway-fab waves-effect waves-red white">
      								<i class="fa fa-heart red-text"></i>
      							</a>
      							<a class="btn-floating left halfway-fab waves-effect waves-yellow white">
									<i class="fa fa-bookmark lime-text text-accent-2"></i>
								</a>
							</div>
							<div class="card-content">
								<p>test post. hope it looks good :D</p>
								
							</div>
						</div>
					</div>
				</div>

				<a class="fixed-action-btn btn-floating btn-large light-blue accent-2" id="top" onclick="goToTop()">
					<i class="fa fa-chevron-up"></i>
				</a>

			</div>
		</div>
		<div class="col m3 hide-on-small-only">
			<div class="row">
				<div class="col m12">
					<div class="trends">
						<div class="collection light-blue accent-1">
							<h6 class="collection-header center">What's trending?</h6>
							<a href="#!" class="collection-item">
								<p>dashmeet ajmani posted smart india hackathon zumba video</p>
							</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post2</a>
						</div>
					</div>
				</div>					
			</div>
			<div class="row">
				<div class="panel col m12">
					<ul>
						<li><a href="#">Campus News</a></li>
						<li><a href="#">Clubs</a></li>
						<li><a href="#">Fests</a></li>
						<li><a href="#">Upcoming Events</a></li>
						<li><a href="#">Help & FAQs</a></li>
						<li><a href="#">Log Out</a></li>
					</ul>
					<p class="grey-text	">Copyright © 2018 Dashmeet Kaur Ajmani</p>
				</div>
			</div>
		</div>
		<div class="col s12 hide-on-med-and-up">
			<div class="row" style="width: 90%; margin: auto;">
				<div class="col s12">
				<ul class="collapsible">
					<li>
						<div class="collapsible-header">What's trending?</div>
						<div class="collapsible-body collection">
							<a href="#!" class="collection-item">
								<p>dashmeet ajmani posted smart india hackathon zumba video</p>
							</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post1</a>
							<a href="#!" class="collection-item">post2</a>
						</div>
					</li>
					<li>
						<div class="collapsible-header">Panel</div>
						<div class="collapsible-body">
							<ul>
								<li><a href="#">Campus News</a></li>
								<li><a href="#">Clubs</a></li>
								<li><a href="#">Fests</a></li>
								<li><a href="#">Upcoming Events</a></li>
								<li><a href="#">Help & FAQs</a></li>
								<li><a href="#">Log Out</a></li>
							</ul>
						</div>
					</li>
				</ul>
				</div>
			</div>
			<p class="grey-text	">Copyright © 2018 Dashmeet Kaur Ajmani</p>
		</div>
	</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script src="js/init.js"></script>
<script src="js/scripts.js"></script>

<noscript>
	You don't have Javascript enabled in your browser. This application will not work unless javascript is enabled.
	<br>
	Please consult your browser documentation to enable Javascript.
</noscript>

</body>
</html>